## Importing Libraries

In [2]:
import pandas as pd
import numpy as np

## Reading The Data

In [8]:
#reading the data
dep = pd.read_csv('../data/dep.csv')

In [9]:
#shape
dep.shape

(50000, 9)

In [10]:
dep.head()

,title,selftext,subreddit,created_utc,author,num_comments,score,is_self,timestamp
0,Magickal thinking while depressed,I hate myself so much. This is the third time ...,depression,1570997530,violent10denseas,11,1,True,2019-10-13
1,Last year I made a promise to myself that I'd ...,Last year I realized that I'd never have the c...,depression,1570997608,lernem,0,1,True,2019-10-13
2,I no longer have any friends,I've always had lots of friends but now I've r...,depression,1570997683,anong18,0,1,True,2019-10-13
3,I wish I could kill myself without hurting anyone,My family will be sad and my dog won't know wh...,depression,1570997688,IlanaBl,6,1,True,2019-10-13
4,Depression affecting me physically,"Hi, I’m a female in my early mid twenties and ...",depression,1570997699,Rare_Sherbert,1,1,True,2019-10-13

## EDA

In [11]:
#some posts were removed
#let's see how many are these
(dep['selftext'] == "[removed]").sum()

3858

In [12]:
#dropping the rows where the posts are removed
dep = dep[dep['selftext'] != "[removed]"]

In [13]:
#checking the number of missing values (null) in 'selftext'
dep['selftext'].isnull().sum()

781

In [14]:
#checking the number of missing values (null) in 'title'
dep['title'].isnull().sum()

0

I am planning on joning the title and the selftext into one feature. Before i do that i need to change the nan values into an str datatype so they could be joined. ('some string' + np.nan = nan)

In [15]:
#filling nan values with an empty string
dep['selftext'].fillna("", inplace=True)
dep['title'].fillna("", inplace=True)

In [16]:
#now joining the two columns
dep['selftext'] = dep['title'] + ' ' + dep['selftext']

In [17]:
dep.head()

,title,selftext,subreddit,created_utc,author,num_comments,score,is_self,timestamp
0,Magickal thinking while depressed,Magickal thinking while depressed I hate mysel...,depression,1570997530,violent10denseas,11,1,True,2019-10-13
1,Last year I made a promise to myself that I'd ...,Last year I made a promise to myself that I'd ...,depression,1570997608,lernem,0,1,True,2019-10-13
2,I no longer have any friends,I no longer have any friends I've always had l...,depression,1570997683,anong18,0,1,True,2019-10-13
3,I wish I could kill myself without hurting anyone,I wish I could kill myself without hurting any...,depression,1570997688,IlanaBl,6,1,True,2019-10-13
4,Depression affecting me physically,"Depression affecting me physically Hi, I’m a f...",depression,1570997699,Rare_Sherbert,1,1,True,2019-10-13

In [18]:
#i will drop the title and is_self columns now
dep.drop(['title','timestamp', 'is_self', 'num_comments', 'author','created_utc', 'score'], axis =1, inplace=True)

In [19]:
dep.head()

                                            selftext   subreddit
0  Magickal thinking while depressed I hate mysel...  depression
1  Last year I made a promise to myself that I'd ...  depression
2  I no longer have any friends I've always had l...  depression
3  I wish I could kill myself without hurting any...  depression
4  Depression affecting me physically Hi, I’m a f...  depression

In [20]:
#lets check the missing values in 'subreddit'
dep['subreddit'].isnull().sum()

0

In [21]:
#other values
dep['subreddit'].value_counts()

depression    46142
Name: subreddit, dtype: int64

All these posts were taken from the same subreddit so i will fill the column with 0. Zero here mean that the person is depressed

In [22]:
dep['subreddit'] = 0

I am assuming that the missing values exist due to some error in the reddit api itself. All these posts were taken from the same subreddit so i will fill the nulls with 'dep'

In [23]:
dep['subreddit'].fillna('dep', inplace=True)

In [24]:
#no more missing values
dep.isnull().sum().sum()

0

In [25]:
dep.head(12)

                                             selftext  subreddit
0   Magickal thinking while depressed I hate mysel...          0
1   Last year I made a promise to myself that I'd ...          0
2   I no longer have any friends I've always had l...          0
3   I wish I could kill myself without hurting any...          0
4   Depression affecting me physically Hi, I’m a f...          0
5   I've never been this bad before The past week ...          0
6   I just don't get it I live with my parents, ev...          0
7   Being asked what I do for fun or on the weeken...          0
8   i don’t want to live in the real world okay i ...          0
9   Climate Despair I've struggled with bouts of s...          0
10  Doughnut Hole I have this hole in the middle o...          0
11  What do you do to past the time? I don't work,...          0

In [26]:
#checking for duplicated posts
dep.duplicated().sum()

86

In [28]:
#dropping duplicates
dep = dep.drop_duplicates()

In [29]:
dep.shape

(46056, 2)

In [30]:
dep.to_csv('../data/dep_clean.csv', index=False)