## Importing Libraries

In [146]:
import pandas as pd
import numpy as np

## Reading The Data

In [115]:
#reading the data
offmychest = pd.read_csv('../data/offmychest.csv')

In [116]:
#shape
offmychest.shape

(50000, 9)

In [117]:
offmychest.head()

,title,selftext,subreddit,created_utc,author,num_comments,score,is_self,timestamp
0,i don’t think anyone would miss me if i was go...,"i don’t need help, i’ve been dealing with this...",offmychest,1570989983,aliciaclarkes,1,1,True,2019-10-13
1,I think I was in an abusive relationship,[removed],offmychest,1570990028,driftingdreamsss,0,1,True,2019-10-13
2,Shall I just smile and keep acting?,It’s been some time that I’m use to not having...,offmychest,1570990061,simplelibra,8,1,True,2019-10-13
3,I'm so bored with this life,For the past few weeks I've been feeling so bo...,offmychest,1570990741,_Butter_bean_,0,1,True,2019-10-13
4,Today we welcomed a little baby boy into our w...,"So five hours ago, me (22M) and my boyfriend (...",offmychest,1570990792,AlternativeShame8,4,1,True,2019-10-13

## EDA

In [118]:
#some posts were removed
#let's see how many are these
(offmychest['selftext'] == "[removed]").sum()

3993

In [119]:
#dropping the rows where the posts are removed
offmychest = offmychest[offmychest['selftext'] != "[removed]"]

In [120]:
#checking the number of missing values (null) in 'selftext'
offmychest['selftext'].isnull().sum()

301

In [121]:
#checking the number of missing values (null) in 'title'
offmychest['title'].isnull().sum()

0

I am planning on joning the title and the selftext into one feature. Before i do that i need to change the nan values into an str datatype so they could be joined. ('some string' + np.nan = nan)

In [122]:
#filling nan values with an empty string
offmychest['selftext'].fillna("", inplace=True)
offmychest['title'].fillna("", inplace=True)

In [123]:
#now joining the two columns
offmychest['selftext'] = offmychest['title'] + ' ' + offmychest['selftext']

In [147]:
offmychest.head()

                                            selftext  subreddit
0  i don’t think anyone would miss me if i was go...          1
2  Shall I just smile and keep acting? It’s been ...          1
3  I'm so bored with this life For the past few w...          1
4  Today we welcomed a little baby boy into our w...          1
5  I will always be the quiet girl. Sorry this is...          1

In [125]:
#i will drop the title and is_self columns now
offmychest.drop(['title','timestamp', 'is_self', 'num_comments', 'author','created_utc', 'score'], axis =1, inplace=True)

In [148]:
offmychest.head()

                                            selftext  subreddit
0  i don’t think anyone would miss me if i was go...          1
2  Shall I just smile and keep acting? It’s been ...          1
3  I'm so bored with this life For the past few w...          1
4  Today we welcomed a little baby boy into our w...          1
5  I will always be the quiet girl. Sorry this is...          1

In [149]:
#lets check the missing values in 'subreddit'
offmychest['subreddit'].isnull().sum()

0

In [150]:
#other values
offmychest['subreddit'].value_counts()

1    45920
Name: subreddit, dtype: int64

All these posts were taken from the same subreddit so i will fill the column with one. one here mean that the person is just sad and not depressed

In [131]:
offmychest['subreddit'] = 1

In [132]:
offmychest['subreddit'].value_counts()

1    46007
Name: subreddit, dtype: int64

In [133]:
#no more missing values
offmychest.isnull().sum().sum()

0

In [134]:
offmychest.head(12)

                                             selftext  subreddit
0   i don’t think anyone would miss me if i was go...          1
2   Shall I just smile and keep acting? It’s been ...          1
3   I'm so bored with this life For the past few w...          1
4   Today we welcomed a little baby boy into our w...          1
5   I will always be the quiet girl. Sorry this is...          1
6   We are thinkimg of rehoming our dog We got him...          1
7   Is she serious? I’m a 16 year old girl in high...          1
8   I am only beautiful in the dark I kissed a guy...          1
9   Fed up with data driven campaign There has bee...          1
10  I attempted suicide two days ago. I haven't to...          1
11  Bottled thoughts I'm fairly new to reddit so f...          1
12  I hate myself for this😡😡 I don't know why I do...          1

In [135]:
#checking for duplicated posts
offmychest.duplicated().sum()

87

In [136]:
#dropping duplicates
offmychest = offmychest.drop_duplicates()
offmychest.duplicated().sum()

0

In [137]:
offmychest.to_csv('../data/offmychest_clean.csv', index=False)

## Extra..

There are emojis in my text. I dont know how they will get treated in the classifier, but i will see what i got

In [23]:
#pip install emoji

In [138]:
import emoji

In [139]:
#Search for emojis in each row and creats a dataframe with the corresponding index
# number for each of the one that have emojis


data = []
ind = []
for i in offmychest['selftext'].index: #loops over each row
    try:
        #creates a list of emojis for each rowa that has emojis
        s  = [c for c in offmychest['selftext'][i] if c in emoji.UNICODE_EMOJI]
        if s != []:
            s = "".join(s)
        
            data.append([i, s]) #for the dataframe
            ind.append(i)
    except:
        raise

In [140]:
#creates a dataframe out of the emojis 

emojis = pd.DataFrame(data, columns = ['index', 'emoji'])
emojis.set_index('index', inplace=True)

In [143]:
emojis.head(10)

           emoji
index
7              ❤
12     😡😡☹☹🙏🙏🙏🤪🤪
86             💛
181            😡
214            ™
292            🐒
373           😭😭
414         🤡😌🤪💀
463            ❤
476            😅

In [145]:
len(ind)

962

In [166]:
for i in emojis['emoji']:
    for n in i:
        print(n, end = '')

❤😡😡☹☹🙏🙏🙏🤪🤪💛😡™🐒😭😭🤡😌🤪💀❤😅😭💕❤🥰✌😂😭🤷🏻♀❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤😊🤷🏻♂❤🦁🦌😉💕🇨🇦😘🍁🍂😔🤦🏽♀🤷♀😭🖤😭🤞😩🤞😢😭🤞😩🤞😢❤😔😉🤢🤮😫😂❤😡😔😉🤦♀😼👉🏼👌🏼💦😩😔😩😩🤯🤯🤯👔⚠⚠♥😭😓😭😭😣❤😪❤🤷♂🥺🥺🥺❤💗💗❤💙💙😂🌙✌🏿👔❤😂🧡😂🧡🤷🏻♀😁🚪❤✊✨❤✨☹🤦🏽♂🤦🏼♂🤦🏼♀🤦🏼♀🤦🏼♀👇🏻😔🤦🏼♀🤦🏼♀🤦🏼♀🤦🏼♀🤔❤❤❤❤❤❤❤❤😥😥😂❤😂🙂🥰😘🙄❤❤❤👌🏻💪🏻🙄🙄🤢🤮🍻😍❤❤😅✨✨💓😍😏😍😭❤🖤💘❤😡😔🙄😅❤😂😭🤔😅🍻🍺🍻😂😂🙄😂😂🤔😭😢😢❤🤢❤❤❤❤❤❤❤❤❤❤🎉🎉🎉🎉🎉🖤🥴❤😠😊🎃😃🥳🥳🥳🥳🎉🎉🎉🙌😁😘💔🤷♂❤🦋❤⚠⚠✌🏻😚😔😔😔😥💜💙💜👋👋👋😐🙄💔✔✔😅💕💕💕🤗😒😭😥😔😓😊😊🥺❤💖❤❤🥺❤🍻✌🖕🏻🙄💀💀💁🏼♀🤰💛🌄🌅🌇🙃😡😳😭💗😫😅👀✌😪💓😂😂😂😂😂😂😂😔😂😂😂😂😊😞😞👋🏻😕❤💙🌹😕🔥😔😣😪🥺🙃🙃👍🏻📷❤💚❤😞😞😪🤭😪😂😱☺👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏™❤😂😂🤥🤕😓💜🥺🤗🤪❤🖖🤪😍😭😭😭😭😭😞😞🤷🏼♀💛😶💫🍁💙🌹🥀♥❤😔😔🙂😁😬❤😣📷😪🙄😣💩😡😂😊👩🦱🤦♀🤦🏻♀🤦🏻♀😎💖❤❤🤦♀🤷🏾♀🤔🤦♂🥺😓❤😭😭😍😍💖😍😍😍💙😭😭😭😭😭❤🍂🍁🎃👻🎃👻🍁🍂🍁🍂☕❤😍💦👅😍😂❤😍💜😄😞😞😞😞🙄😫💕😐♥👋👋👋🙁😔👀🤢🤮👋🏳🌈❤🤯😷☺😭😔😪😬😱😢😅😭😂🙁✌🏼😢☹😢🥰☹💔😭😭😭😭😭😭😭😭😭😪😯😯😑😑⚠⚠⚠⚠⚠⚠⚠⚠🤷🏻♀😂🤣🤣😫🤦🏼♀😝😝😁😁😁😂😂😂😂🙄😔😢😢🙏💙😊🖤🤦♂▪▪▪▪▪▪▪▪▪▪♥❤😁😁☹😞♥♥♥♥🤦🏻♀😐😡😡😡☹💯🤔☹😔😥🙄😩😥🤷🏼♀😪😞✌♥😰🙅🤯🤷❤❤🥰🙂🙄🙄🙄🙄🤧❤💕🧡🙄☺💋🤷🏻♀😕❤🙄🤷🏼♀❤😅🤙😂💗❤🥰❤😞✌🏻❤🇩🇴😔👍🏼💩🙂😂♥💖😂❤❤😂😂🙄🙄😭😭😭❤™™™😀💖💖💖💖💖💖😭😢😥😭😂😩🙌🤗😊😭😉😭💲💲🤷🏾♂➡🤪😂😂😂😂😂😂😂😢😡😭🚩😒😂❤🤔😂☺🙃❤😂😂😂😂🙈💛🤷🏽♀😍😍😍🥰😘💕😻❤😭😈🙄🙄🙄🙄🙄🙄😭😂🤣😭😭🤣😂😅🤣🤷🏻♀™™™🌸🌺🤦🏾♀🤦🏾♀😡😂😂😋⚠😂🤡🌸🌺😡🙄😢😑🙄😔⚠⚠⚠⚠⚠⚠❤❣😑💙😭😘😘😘😂🖤😂🥰😏❤™😢😶😂🥁😁😂🤦♀😭😩🙄❤🙏❤💚🐕🐛🌺😀❤👣😅✌🏽🤯😴😴😴😴😴😴😴😴😴😴😴🤬😁😌😑😴😴👨🍳👨💻🤷♂🤯❌🍆💦😩😩😩😩😤😤🤯🇨🇳🇨🇳😰😢🤷🏻♀⚠⚠⚠⚠⚠❤🤷😪😭😭😭😭😭😪😅❤✌♥🖤😢🤞🏼🤦🏾♀🥺😔😔💩💩😊❤😁💔💔😠😡😂😂😖😂🤣😜🤣🤣🤣🤣⚫⚪😒🇭🇰🇭🇰😑❤😪😅😂🙆🏻♂😇😘😝😘😉😂🏀♥😍☺😞😅😑🌈😭😭😭😭😬🥺😳😡🙄🤦🏻♀😂😂🤡🤡🤡🇨🇦😆🙄🙄✌❤😅🤔😊😊🇺🇸🇺🇸😝🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷🕷😴😴😴😭🙃💕👏👏👏👏👏🤷🤷🏽♀😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂🙄🤤😍😂😂😂❤😐😐🤞🙏✌♥😂🤷✌🤣😍™💛😊☹😬😏😉😉😂😂😂🙃😭😍😔❤🤷🏽♀🤷🏻♀🤷🏻♀❤🖤😳😅😞😕😔😢❤❤😎🤠✌🥴🤷🏼♀😂🙁❤🧱🧱🧱❤❤❤😱😅❤🤷♀🥳🤦🏻♂🤦🏻♂💕🍑❤😔😭❤😭🤷🙏🙂😃🥰🤣👊💪❤🙃🤷🏽♀😒😊🙂🙃❤🤣🤣🙄🤷🏼♀🤷🏼♀🤷🏼♀🔥🔥😌😂❤🥺🤷🏻♀👋🏼❤😭🤔❤🙁👼💞😟🙃😬🤮🤢😳❤👌🏻👌🤷🤷😑❤♥💖🎂👋🏻🙃🙏🏽😭🍑👽👽🙃♥😔👀🙈🙉🙊😢😖🛎😶😉🙄🌚❤😂😖🤔❤🍀❤🤷♂😭😔🥰♥😔🙃❤❤🍑😂😟🤮😩🙄🙄😫🦁😫🙏🙏🙏🙏🙏🙏🙏🙏⭐⭐⭐⭐⭐😫😫🙏❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤💞💯👌🗝⚖🙏👏🤞😂😫🦁😫🙏🙏🙏🙏🙏🙏🙏🙏⭐⭐⭐⭐⭐🥺🙏❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤🍑🎈♥🤞😅🙄😰🤣💩😢😂😭😭😘🤷♂😭😭😭⬇😠🤷♂❤❤❤❤🥰😅❤☺😞👍🏼👎🏻❤💔❤🙏😞🚩💕♥🙃☹😭💔🙄✌🤪💁♀🥺🥺🥺😘👌🏻🙂❣🎉💔😭🥰💙👍😊😊😊😁🤢😭😂❤❤🤪💔😔😔😕🤮😬😂🦠🤷🏻♂❤😂😂😂🤦🏻♂✌🏻😔😡🤦🏽♀💋💔♥🌬🌊🥰❤✌🌍🍓🍄🐸👅🐥🤷🏿♂😂😳😤😍😍😍😍😅😑😭🤔🙄🤷🏽♀🙈😭😭☺😑🎵🎵❤😭😭😭😔💜☹🤠🤠🤠♥🤞🏼💕💥🔫🤪😥😎😞🙄🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬🤬😂😂😂☺🥳🥰😊😊😊😐😞😞😔🙄🍆🍆😅😅🙄🙄🙄✌😔❤❤🎶🎶💔🙏🙌🏼❤®®🙄😭😭🙄😒😅😔😔😅😔❤🙄😢😭😞🙏😭😒👍🏻🚶♂❤😢🤦♀🤦🏽♀🤦🏻♀❤✋🏽🥺☺🤷🏻♀😊🤷♂🤦🏼♂😂❤❤🥰💕😢🤷♂🙄❤❤🥳😁✌💫🤷♀🙄🙄💔😂🤦🏻♂😞👋🤦🏻♂❤😴😔☺😆🤷🏻♂🤦🏻♀❤💖❤💖💖❤💖❤💖❤💖❤💖🙃🙃😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😘😂😭💕😂❤😃😭😭😄😄😂💀💀💀😭🌚😂😱😊😊😁😁😁😔😔😝🤷🏻♂😂😂😂💔👍🏼😪😁🤣🤣🤣✌😪😑❤❤💙🥳❤😬😂😂😭😭😭😭😂😂💜💜🙄💜💜💜💜✌🏼😭😭😭🤷🗑🦄🙄❤❤❤😔😔👀👀👀👀👀🗣😑😭🤣😂🤣😂🤣😂☺😂🤣😅🤷🏾♀❤🎂🙃😓❤🧡💛💚💙💜😂💜💜🙄😩😩🥺🥺☹☺😠🖤🖤🖤🖤🖤🖤♥💙💜💙💜💙💜💙💜💙💜💙💜💙💜💙💜💙💜💙💜💙💜💙💗💗💗❤👋🥺😂😌😁🗑💰🤦🏾♀😳😔😢❤™🙄😭😭😭🌲🍰😳™😭💖💖😭🤷♂😭😂😂😂💀🤷♂♥🙄💘😊🙄😉🔥😊😇😆😂😉👍👏❤❤😔🤣😩❤❤😅🖤🥺👉🏽👈🏽👉🏽👈🏽😤😤😞🎉🎉♥😭🤦♂😂👇😐💀😖😀😔🥰🌟😅☹😊😊🤷🏾♀🤷🏾♀💙💙🙏😔❤🤯🤦🏽♂😅😂😂✌😫😂😞😢🤢🤦🏻♂🤷🏻♂😘🖤😑😑😢📷📷😊😔🥴❤😍🤪💔🤩😍❤😂👍😖🤷♂😔🤦🏽♂😭😿☹😬😭🤷🏻♂🤷🏻♀🤦🏻♀😅🤢✌🏻👀👀🤷🏼♀💔🙄🙄👻👻👇💟❤❤❤💜💛💜💛💜💛👈❤💌❤💌❤💌❤💌💌👇👇👇👇👆👆👆😨🧁💔😢